.App {
  display: flex;
  flex-direction: column; /* Keeps the original column layout at the top level */
  height: 100vh;
  /* overflow: hidden;  */

}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #1a4c63;
  color: white;
  padding: 15px 0 0 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; /* Ensures the navbar is above the main layout but doesn't need to be the topmost layer */
}

.home-button {
  background-image: linear-gradient(to right, #39b96f, #754df7); /* Gradient background */
  border: none; /* Removes the default border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
}

.home-button:hover {
  transform: scale(1.05); /* Slightly enlarges the button */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}


/* Creates a main layout that sits beside the sidebar */
.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; /* Ensures that the layout takes full width of its parent */
  overflow: auto; /* Adds scrolling to the layout if the content overflows */
}

.sidebar {
  width: 220px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  height: calc(100vh - 70px); /* Adjusts height to fill under the navbar */
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1; /* Ensures sidebar is below the content in stacking context */
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 100px 0 0 0;
  margin-left: 220px; /* Adjusts to not overlap with sidebar */
  border-top-left-radius: 20px; /* Applies the border radius */
  background-color: #fff; /* Important for visibility of the border-radius */
  z-index: 3; /* Higher than navbar and sidebar to show border radius */
  position: relative; /* Needed for z-index to take effect */
  display: flex;
  justify-content: center; /* Horizontally centers its children */
  align-items: center; /* Vertically centers its children */

}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
  gap: 20px; /* Adds space between each child element */
  padding: 20px; /* Adds some padding around the dashboard content */
  padding-top: calc(60px + 20px); /* Adjust 60px to your navbar's height + original padding-top */
  min-height: calc(100vh - 60px); /* Adjust 60px to your navbar's height */
  box-sizing: border-box; /* Ensures padding is included in the height calculation */
  margin-top: 20px;
}

.dashboard h3 {
  margin-top: 0;
  margin-bottom: 20px; /* Adds some space below the heading */
}

.dashboard button {
  padding: 10px 20px;
  background-color: #007bff; /* Example button color, feel free to change */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

/* Portfolio card styling */
.portfolio-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 15px;
  margin-bottom: 20px;
  width: 700px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns children to the start (left), adjusted from center */
}

.portfolio-card h3 {
  margin: 0 0 20px 0; /* Adjusted margins for consistency */
  align-self: flex-start; /* Ensures alignment to the start */
}


.white { 
  background-color: #f8f9fa ;
}
.green { 
  background-color: #39b96f ;
}
/* New CSS for the titles container */
.titles-container {
  display: flex;
  flex-direction: row; /* Adjust based on your .coin-card internal layout */
  width: 100%; /* Matches .coin-card width */
  padding: 0 15px; /* Matches .coin-card padding for alignment */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.portfolio-card > div {
  width: 100%; /* Ensures .coin-card containers match the .portfolio-card width */
}

.titles-container span {
  margin: 0; /* Optionally resets margin for consistency */
  white-space: nowrap; /* Keeps content on a single line */
}

.titles-container > * {
  flex: 1; /* Gives equal space to each child */
  text-align: left; /* Aligns the text to the left */
}


/* Coin card styling */
.coin-card {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centers items vertically */
  border: 1px solid #dee2e6;
  margin-bottom: 10px; /* Space between coin cards */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
  max-width: 670px; /* Use max-width for better responsiveness */
  width: 100%; /* Allows the coin-card to adjust based on parent's width */
}

/* Assuming there are three items: symbol (h4), price, and market cap (span) */
.coin-card > * {
  flex: 1; 
  text-align: left; 
}

.coin-card h4,
.coin-card span {
  margin: 0; /* Optionally resets margin for consistency */
  white-space: nowrap; /* Keeps content on a single line */
}


.coin-card:hover {
  background-color: #e0e0e0; /* Darker shade for hover effect */
  /* Remove the transform property to stop moving along the Y-axis */
}

.create-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px; 
  min-height: calc(100vh - 80px); 
  box-sizing: border-box; 
  background-color: #f5f5f5; 
  border: 1px solid #dee2e6;
  min-width: 500px; 
  border-radius: 8px;
  margin-top: 100px;
}

.create-portfolio h3 {
  margin-bottom: 20px;
}

.create-portfolio form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-portfolio label {
  margin-top: 10px;
}

.create-portfolio input,
.create-portfolio textarea {
  padding: 10px;
  margin-top: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  width: calc(100% - 20px); /* Adjusts for padding */
}

.create-portfolio textarea {
  height: 50px;
  resize: vertical;
}

.create-portfolio button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-portfolio button:hover {
  background-color: #0056b3;
}

.coin-selection {
  width: 450px;
}


.input-wrapper {
  margin: 10px 10px 10px 0;
  width: 97%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

.search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

.search-input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

#delete-icon {
  width: 30px;
  height: auto;
}

.portfolio-card-header {
  display: flex;
  align-items: center; /* Ensures vertical alignment is centered for all items */
  justify-content: space-between; /* Puts space between the grouped items */
  padding: 10px; /* Adds some padding inside the header for better spacing */
}

.portfolio-card-header h3 {
  flex-grow: 1; /* Allows the title to take up available space, pushing icons to the right */
  margin-right: 20px; /* Adds some space between the title and the icons */
}

#edit-icon,
#delete-icon {
  cursor: pointer; /* Changes the cursor to indicate clickable items */
  margin-left: 10px; /* Adds space between the icons */
}

/* Ensuring the icons are styled appropriately */
#edit-icon,
#delete-icon {
  width: 24px; /* Sets a fixed width for icons */
  height: 24px; /* Sets a fixed height for icons */
}

.link-to-edit, .delete-container {
  display: flex; /* Applies Flexbox to ensure alignment */
  align-items: center; /* Centers items vertically within the container */
}